@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

* {
    font-family: 'League Spartan', sans-serif;
}

body {
    font-size: 15px;
    background-color: #5ba4a4;
}

@media (max-width:1023px) {
    .main-container {
        background-image: url("./images/bg-header-mobile.svg");
        background-position: top;
    }
}

@media (min-width:1024px) {
    .main-container {
        background-image: url("./images/bg-header-desktop.svg");
    }
}